body {
  background-color: aqua;
}


a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:black;
}

.active {
  background-color: #04AA6D;
}


